 .badge-verified span, .badge-unverified span,
 .air-icon-verified:before {
    color: grey !important;
}

.nav-v2 .nav-right>li.active .nav-item /* Change Active nav color*/
{
   color: #afafaf !important;
}

.nav-v2 .nav-dot /* Change the dot color */

{
    background-color: #f2f2f2 !important;

}

.input-group.input-group-search .input-group-btn>.btn-primary /* CHANGE search box right button*/

{
    background-color: grey !important;

}


input.form-control:hover, textarea.form-control:hover, .select2-search input:hover, input.form-control:focus, textarea.form-control:focus, .select2-search input:focus

{
    border-color: grey !important;
}

.nav-v2 .nav-bubble /* Change Message number color*/
{
    background-color: transparent !important;
    color: #656565 !important;
    font-size: 15px !important;

}
.blueberry-text,
.opening-counts-value a{
    border-color: black !important;
}
.nav-v2 .nav-bubble:before{
    border-left: 0px solid transparent !important;
}

.anchorCustomBtn{
    position: fixed;
    left: 20px; 
    bottom: 0;
}